/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"); */

.dunga {
  font-size: 1rem;
}

.page {
  width: 100%;
  padding: 1rem 0;
  gap: 1rem;
}

.charactersList {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  gap: 1rem;
}

.character {
  display: grid;
  grid-template: 2fr 1fr / 5fr 1fr;
  padding: 0.75rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.character:hover {
  scale: 1.025;
}

.characterIdentity {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.characterIdentity > h2 {
  font-size: 2rem;
}

.characterInformation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.characterInformation > p {
  font-size: 1.25rem;
}

.characterActions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.characterActions button i {
  font-size: 1rem;
}

.characterIcon {
  width: 30%;
}

.link {
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 0.8rem;
  background-color: #303030;
  text-decoration: none;
}

.link:hover {
  background-color: #404040;
}

.link:active {
  background-color: #202020;
}

@media (min-width: 375px) {
  .characterIcon {
    width: 6rem;
  }
}

@media (min-width: 425px) {
}

@media (min-width: 768px) {
  .charactersList {
    max-width: 32rem;
  }
}

@media (min-width: 1024px) {
  .charactersList {
    max-width: 42rem;
  }
}

@media (min-width: 1440px) {
  .charactersList {
    max-width: 52rem;
  }
}

@media (min-width: 1920px) {
}

@media (min-width: 2560px) {
}
