.container-header {
display: flex;
flex-direction: column;
text-align: center;
}

.title-one {
font-family: "Cinzel Decorative";
font-size: 4rem;
padding: 0;
margin-top: 8rem;
text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
font-weight: bold;
}
.title-two {
font-family: "Cinzel Decorative";
font-size: 4rem;
line-height: 80%;
text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
font-weight: bold;
}
.intro-text {
text-align: center;
padding: 1rem 0rem 1rem 0rem;
width: 300px;
}
.play-button {
padding: 0.5rem 4rem;
border: 1px solid var(--border-color);
border-radius: 2rem;
background: radial-gradient(var(--button-yellow-color), var(--button-green-color));
font-size: 1.25rem;
font-weight: bold;
color: var(--black-color);
margin-bottom: 4rem;
}


button:hover{
    background-color: rgb(112, 79, 35);
}
.card {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 4rem;
margin-bottom: 4rem;
}
.read-more-image {
height: 200px;
width: 300px;
border-radius: 3px;
border: 3px solid var(--border-color);
}
.read-more-text {
text-align: center;
width: 300px;
padding: 1rem 0rem 1rem 0rem;
}
.read-more-button {
padding: 0.5rem 2rem;
border: 3px solid var(--border-color);
border-radius: 2rem;
background: var(--black-color);
font-size: 1.25rem;
color: var(--text-color);
}