.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 83.2vh;
}

.chat-box {
  margin-top: 30px;
  width: 100%;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 60px);
}

.chat-history {
  overflow-y: auto;
  margin-bottom: 20px;
}

.chat-message {
  margin-bottom: 10px;
}

.bubble {
  padding: 15px;
  border-radius: 20px;
  margin: 5px 0;
  max-width: 75%;
}

.user-query {
  align-self: flex-start;
  background-color: #2eb3c2;
  border-top-left-radius: 0;
  width: 50%;
}

.chat-response {
  align-self: flex-end;
  background-color: #7553ff;
  border-top-right-radius: 0;
  margin-left: auto;
  width: 50%;
}

.chat-input {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 1.2rem;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  color: black;
}

.chat-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.chat-input button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loader {
  width: 32px;
  height: 72px;
  display: inline-block;
  left: 5px;
  position: relative;
  border: 2px solid #FFF;
  box-sizing: border-box;
  animation: animloader 2s linear infinite alternate;
  color: #FF3D00;
  border-radius: 0 0 4px 4px;
  transform: perspective(140px) rotateX(-45deg);
}

@keyframes animloader {
  0% {
    box-shadow: 0 0 inset;
  }
  100% {
    box-shadow: 0 -70px inset;
  }
}
