/* .message-received {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.sender-received {
  background: rgb(95, 132, 36);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 5px;
}
.text:first-child > .text-content-received {
  border-top-left-radius: 20px;
}
.text:last-child > .text-content-received {
  border-bottom-left-radius: 20px;
}
.text-content-received {
  padding: 10px;
  border-radius: 4px 20px 20px 4px;
  min-height: 20px;
  background: #454545;
  margin-left: 20px;
}
.message-sent {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.sender-sent {
  background: rgb(81, 26, 71);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-left: 5px;
}
.text:first-child > .text-content-sent {
  border-top-right-radius: 20px;
}
.text:last-child > .text-content-sent {
  border-bottom-right-radius: 20px;
}
.text-content-sent {
  background: #457595;
  border-radius: 20px 4px 4px 20px;
  min-height: 20px;
  padding: 10px;
  margin-left: auto;
} */

.user-query-bubble {
  padding: 15px;
  border-radius: 20px;
  margin: 5px 0;
  max-width: 75%;
  align-self: flex-start;
  background-color: #2eb3c2;
  border-top-left-radius: 0;
  width: 50%;
}
.chat-response-bubble {
  padding: 15px;
  border-radius: 20px;
  margin: 5px 0;
  max-width: 75%;
  align-self: flex-end;
  background-color: #7553ff;
  border-top-right-radius: 0;
  margin-left: auto;
  width: 50%;
}
