.prompt-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prompt {
  color: black;
  border-radius: 20px 0 0 20px;
  width: 100%;
  font-size: 1rem;
  font-family: sans-serif;
  padding: 1rem;
  height: 45px;
  resize: none;
  overflow: hidden;
  margin-bottom: 3rem;
}
.send-button {
  padding: 1rem 1rem 1rem 0.5rem;
  border-radius: 0 20px 20px 0;
  background: rgb(116, 115, 115);
  margin-bottom: 3rem;
}
