.grid grid-cols-2 text-xs gap-2{
    background-color: rgb(255, 127, 238);
}

.footer{
    position: fixed;      /* Fix position to the bottom of the screen */
    bottom: 0;            /* Align to the bottom */
    width: 100%;          /* Span across the entire width of the viewport */
    z-index: 1000;     

}