@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');


.active {
    background-color: #BFBBBB;
}

nav {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100%;
    z-index: 10;
    width: 100vw;
    justify-content: space-between;
    padding: 0 3rem;
    
}

nav .title {
    font-family: "Cinzel Decorative", serif;
    font-size: 1.2rem;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
    height: 100%;

}

nav ul {

    display: flex;
    align-items: flex-start;
    padding: 0 1rem;
    height: 100%;
}

nav ul li {

    list-style: none;
    height: 100%;
    position: relative;
    z-index: 1000;

}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    height: 100%;
    width: 100%;
    text-align: center;

}

nav ul li a:not(.active,.title):hover {
    background: radial-gradient(#F5FBF1, #A5B735);
    color: black;


}


nav .menu {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem;
    height: 1rem;
}

nav .menu span {
    height: 0.2rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}


@media (max-width: 650px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
        padding: .2rem;
        height: 100%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    
    nav ul.open {
        display: flex;

        position: absolute;
        height: fit-content;
        top: 3rem;
        left: 0;
        width: 100vw;
        margin: 0;
        padding-top: 1rem;
        background-color: #464646;

    }

    nav ul li a:not(.active,.title):hover {
        border-radius: 4rem;
    
    }

    nav ul li {
        text-align: center;

    }

    nav ul li a {
        margin: .2rem .5rem;

    }

}