.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-wrapper {
display: flex;
justify-content: space-between;
align-items: center;
}
.back-button {
padding: 10px 40px;
border: solid;
border-radius: 24px;
border-color: rgba(121, 193, 119, 1);
}
.story-button {
padding: 10px 40px;
background: linear-gradient(rgba(121, 193, 119, 1), rgba(242, 242, 176, 1), rgba(121, 193, 119, 1) );
border-radius: 24px;
border-color: rgba(121, 193, 119, 1);
color: rgba(29, 30, 32, 1);
}