.story-wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.card {
  max-width: 50rem;
  padding: 1rem;
  border-radius: 30px;
  border: 6px solid rgba(112, 132, 73, 1);
  background: radial-gradient( rgba(245, 251, 241, 1), rgba(112, 132, 73, 1));
  color: var(--black-color);
  margin-bottom: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  list-style: none;
}
.summary {
  color: var(--black-color);
  font-size: 18px;
  padding: 1rem;
font-weight: 600;
}
.next-button {
  background: rgba(29, 30, 32, 1);
  border: 3px solid rgba(112, 132, 73, 1);
  border-radius: 40px;
  font-size: 1.25rem;
  margin: 0.5rem;
  width: 256px;
}